.stfolder/
!.vscode/launch.json
__pycache__/
node_modules/
dist/
config.local.ps1
.env
venv/
.venv/
logs/
backend/backups/
Playground.ipynb
var/database/db.sqlite-wal
var/database/db.sqlite-shm
fyi/big

# For keeping empty directories git-tracked
!.gitkeep