{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "printWidth": 80,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "bracketSpacing": false,
  "bracketSameLine": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": [
        ".ts",
        ".tsx"
      ],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}